br2/tier_examples/tier_2/tier_2_n8n_claude_note_processor.json
{
  "name": "AI Note Processor with Smart Linking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "name": "Process Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Check inbox for unprocessed notes"
    },
    {
      "parameters": {
        "command": "cd ~/Library/Mobile\\ Documents/iCloud~md~obsidian/Documents/MyVault/Inbox && find . -name '*.md' -type f"
      },
      "name": "Find Inbox Notes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Get list of all notes in inbox"
    },
    {
      "parameters": {
        "jsCode": "// Parse file list\nconst output = $input.item(0).json.stdout;\nconst files = output.split('\\n').filter(f => f.trim() !== '' && !f.includes('_capture_log'));\n\nconst vaultPath = '~/Library/Mobile Documents/iCloud~md~obsidian/Documents/MyVault';\n\n// Return array of file objects\nreturn files.map(file => ({\n  relativePath: file,\n  fullPath: `${vaultPath}/Inbox/${file}`,\n  fileName: file.split('/').pop()\n}));"
      },
      "name": "Parse File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Convert to structured file objects"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Process each note individually"
    },
    {
      "parameters": {
        "command": "={{ `cat '${$json.fullPath}'` }}"
      },
      "name": "Read Note Content",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Load note markdown content"
    },
    {
      "parameters": {
        "jsCode": "// Extract note content and metadata\nconst fileInfo = $input.item(0).json;\nconst content = $input.item(0).json.stdout;\n\n// Parse frontmatter if exists\nlet frontmatter = {};\nlet bodyContent = content;\n\nif (content.startsWith('---')) {\n  const endOfFrontmatter = content.indexOf('---', 3);\n  if (endOfFrontmatter > 0) {\n    const frontmatterText = content.substring(3, endOfFrontmatter);\n    bodyContent = content.substring(endOfFrontmatter + 3).trim();\n    \n    // Simple YAML parsing\n    frontmatterText.split('\\n').forEach(line => {\n      const [key, ...valueParts] = line.split(':');\n      if (key && valueParts.length) {\n        frontmatter[key.trim()] = valueParts.join(':').trim();\n      }\n    });\n  }\n}\n\n// Extract any existing tags\nconst existingTags = frontmatter.tags || '';\nconst wordCount = bodyContent.split(/\\s+/).length;\n\n// Create AI analysis prompt\nconst analysisPrompt = `Analyze this personal knowledge management note and provide intelligent categorization and connections.\n\nNote Content:\n${bodyContent}\n\nExisting Tags: ${existingTags}\n\nProvide your response in this JSON format:\n{\n  \"summary\": \"2-3 sentence summary of the note\",\n  \"mainTopics\": [\"array of 3-5 main topics/themes\"],\n  \"suggestedTags\": [\"array of relevant tags for organization\"],\n  \"noteType\": \"one of: fleeting, literature, permanent, project, area, resource\",\n  \"paraCategory\": \"one of: project, area, resource, archive\",\n  \"suggestedFolder\": \"recommended PARA folder path\",\n  \"relatedConcepts\": [\"concepts that should link to other notes\"],\n  \"actionItems\": [\"any tasks or todos mentioned\"],\n  \"questions\": [\"any questions raised that need answering\"],\n  \"confidence\": 0.0-1.0\n}`;\n\nreturn {\n  fileInfo,\n  content,\n  bodyContent,\n  frontmatter,\n  wordCount,\n  analysisPrompt\n};"
      },
      "name": "Prepare for AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "Extract content and build prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.apiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify({\n  model: 'claude-3-haiku-20240307',\n  max_tokens: 800,\n  messages: [{\n    role: 'user',\n    content: $json.analysisPrompt\n  }]\n}) }}"
      },
      "name": "Analyze with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300],
      "notes": "AI-powered note understanding"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI analysis\nconst claudeResponse = $input.item(0).json;\nconst noteData = $input.item(0).json;\n\nconst analysisText = claudeResponse.content[0].text;\nconst analysis = JSON.parse(analysisText);\n\nreturn {\n  ...noteData,\n  analysis\n};"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "notes": "Extract analysis results"
    },
    {
      "parameters": {
        "command": "cd ~/Library/Mobile\\ Documents/iCloud~md~obsidian/Documents/MyVault && find . -name '*.md' -type f | grep -v Inbox"
      },
      "name": "Get All Existing Notes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 450],
      "notes": "Load vault notes for linking"
    },
    {
      "parameters": {
        "jsCode": "// Find related notes based on AI-identified concepts\nconst noteData = $input.item(0).json;\nconst analysis = noteData.analysis;\nconst existingNotesOutput = $input.item(1).json.stdout;\n\nconst existingNotes = existingNotesOutput.split('\\n')\n  .filter(f => f.trim() !== '')\n  .map(f => f.replace('./', '').replace('.md', ''));\n\n// Find potential links\nconst potentialLinks = [];\nconst relatedConcepts = analysis.relatedConcepts || [];\n\nrelatedConcepts.forEach(concept => {\n  const conceptLower = concept.toLowerCase();\n  existingNotes.forEach(note => {\n    const noteLower = note.toLowerCase();\n    if (noteLower.includes(conceptLower) || conceptLower.includes(noteLower)) {\n      potentialLinks.push({\n        concept,\n        notePath: note\n      });\n    }\n  });\n});\n\n// Also check main topics\nanalysis.mainTopics.forEach(topic => {\n  const topicLower = topic.toLowerCase();\n  existingNotes.forEach(note => {\n    const noteLower = note.toLowerCase();\n    if (noteLower.includes(topicLower)) {\n      potentialLinks.push({\n        concept: topic,\n        notePath: note\n      });\n    }\n  });\n});\n\n// Remove duplicates\nconst uniqueLinks = [...new Map(potentialLinks.map(item => \n  [item.notePath, item]\n)).values()];\n\nreturn {\n  ...noteData,\n  potentialLinks: uniqueLinks\n};"
      },
      "name": "Find Related Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 375],
      "notes": "Match concepts to existing notes"
    },
    {
      "parameters": {
        "jsCode": "// Create enhanced note with AI insights\nconst noteData = $input.item(0).json;\nconst analysis = noteData.analysis;\nconst links = noteData.potentialLinks || [];\n\nconst vaultPath = '~/Library/Mobile Documents/iCloud~md~obsidian/Documents/MyVault';\nconst destinationFolder = `${vaultPath}/${analysis.suggestedFolder}`;\nconst newFileName = noteData.fileInfo.fileName;\n\n// Build enhanced note content\nconst enhancedContent = `---\nprocessed: ${new Date().toISOString()}\ntags: [${analysis.suggestedTags.join(', ')}]\ntype: ${analysis.noteType}\npara: ${analysis.paraCategory}\nai_summary: \"${analysis.summary}\"\nai_confidence: ${analysis.confidence}\n---\n\n# ${newFileName.replace('.md', '').replace(/^\\d{8}-\\d{6}-/, '')}\n\n## AI Summary\n${analysis.summary}\n\n## Original Content\n${noteData.bodyContent}\n\n---\n\n## AI-Identified Topics\n${analysis.mainTopics.map(topic => `- ${topic}`).join('\\n')}\n\n${analysis.actionItems && analysis.actionItems.length > 0 ? `## Action Items\\n${analysis.actionItems.map(item => `- [ ] ${item}`).join('\\n')}\\n` : ''}\n\n${analysis.questions && analysis.questions.length > 0 ? `## Questions to Explore\\n${analysis.questions.map(q => `- ${q}`).join('\\n')}\\n` : ''}\n\n## Related Notes\n${links.length > 0 ? links.map(link => `- [[${link.notePath}]] - ${link.concept}`).join('\\n') : '_No related notes found_'}\n\n---\n_Processed automatically by AI on ${new Date().toLocaleDateString()}_\n`;\n\nreturn {\n  noteData,\n  analysis,\n  destinationFolder,\n  newFilePath: `${destinationFolder}/${newFileName}`,\n  enhancedContent,\n  links\n};"
      },
      "name": "Build Enhanced Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 375],
      "notes": "Create processed note with AI insights and links"
    },
    {
      "parameters": {
        "command": "={{ `mkdir -p '${$json.destinationFolder}'` }}"
      },
      "name": "Create Destination Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2250, 300],
      "notes": "Ensure PARA folder exists"
    },
    {
      "parameters": {
        "command": "={{ `echo '${$json.enhancedContent.replace(/'/g, \"'\\\\''\")}' > '${$json.newFilePath}' && rm '${$json.noteData.fileInfo.fullPath}'` }}"
      },
      "name": "Save Enhanced Note",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2450, 300],
      "notes": "Write to PARA folder and remove from inbox"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_NOTE_PROCESSING_LOG_SHEET",
        "range": "ProcessedNotes",
        "values": "={{ [[\n  new Date().toISOString(),\n  $json.noteData.fileInfo.fileName,\n  $json.analysis.noteType,\n  $json.analysis.paraCategory,\n  $json.analysis.mainTopics.join(', '),\n  $json.analysis.suggestedTags.join(', '),\n  $json.links.length,\n  $json.analysis.confidence\n]] }}"
      },
      "name": "Log Processing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2450, 450],
      "notes": "Track all processed notes"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.analysis.actionItems ? $json.analysis.actionItems.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Action Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 500],
      "notes": "Check if tasks were extracted"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.todoist.com/rest/v2/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "todoistApi",
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify({\n  content: $json.analysis.actionItems[0],\n  description: `From note: ${$json.noteData.fileInfo.fileName}\\n\\nNote link: obsidian://open?vault=MyVault&file=${encodeURIComponent($json.newFilePath)}`,\n  project_id: 'INBOX_PROJECT_ID',\n  labels: ['from-notes', 'ai-extracted']\n}) }}"
      },
      "name": "Create Todoist Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2450, 600],
      "notes": "Add action items to task manager"
    }
  ],
  "connections": {
    "Process Every 4 Hours": {
      "main": [
        [{"node": "Find Inbox Notes", "type": "main", "index": 0}]
      ]
    },
    "Find Inbox Notes": {
      "main": [
        [{"node": "Parse File List", "type": "main", "index": 0}]
      ]
    },
    "Parse File List": {
      "main": [
        [{"node": "Process One at a Time", "type": "main", "index": 0}]
      ]
    },
    "Process One at a Time": {
      "main": [
        [{"node": "Read Note Content", "type": "main", "index": 0}]
      ]
    },
    "Read Note Content": {
      "main": [
        [{"node": "Prepare for AI Analysis", "type": "main", "index": 0}]
      ]
    },
    "Prepare for AI Analysis": {
      "main": [
        [
          {"node": "Analyze with Claude", "type": "main", "index": 0},
          {"node": "Get All Existing Notes", "type": "main", "index": 0}
        ]
      ]
    },
    "Analyze with Claude": {
      "main": [
        [{"node": "Parse AI Response", "type": "main", "index": 0}]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{"node": "Find Related Notes", "type": "main", "index": 0}]
      ]
    },
    "Get All Existing Notes": {
      "main": [
        [{"node": "Find Related Notes", "type": "main", "index": 1}]
      ]
    },
    "Find Related Notes": {
      "main": [
        [
          {"node": "Build Enhanced Note", "type": "main", "index": 0},
          {"node": "Has Action Items?", "type": "main", "index": 0}
        ]
      ]
    },
    "Build Enhanced Note": {
      "main": [
        [
          {"node": "Create Destination Folder", "type": "main", "index": 0},
          {"node": "Log Processing", "type": "main", "index": 0}
        ]
      ]
    },
    "Create Destination Folder": {
      "main": [
        [{"node": "Save Enhanced Note", "type": "main", "index": 0}]
      ]
    },
    "Has Action Items?": {
      "main": [
        [{"node": "Create Todoist Task", "type": "main", "index": 0}]
      ]
    },
    "Save Enhanced Note": {
      "main": [
        [{"node": "Process One at a Time", "type": "main", "index": 0}]
      ]
    }
  },
  "meta": {
    "description": "**AI Note Processor with Smart Linking**\n\n**Use Case:** Automatically process notes from Obsidian inbox using AI to summarize, categorize using PARA method, extract action items, identify topics, and create intelligent links to related notes in your vault.\n\n**How to Run:**\n\n1. **Import workflow** into n8n\n2. **Configure credentials:**\n   - Anthropic API (Claude)\n   - Google Sheets API (processing log)\n   - Todoist API (task extraction)\n3. **Update paths:**\n   - Obsidian vault location\n   - Processing log Google Sheet ID\n   - Todoist inbox project ID\n4. **Activate workflow** - runs every 4 hours\n\n**Expected Output:**\n\n**Input Note** (in Inbox):\n```markdown\n💡 Idea LangGraph seems perfect for the multi-agent tier. Need to research StateGraph and how it handles persistent state across sessions. Could this replace our custom orchestration?\n\n---\nCaptured: 2025-01-15 at 15:30\n```\n\n**AI Analysis:**\n```json\n{\n  \"summary\": \"Explores using LangGraph's StateGraph for multi-agent orchestration with persistent state management.\",\n  \"mainTopics\": [\"LangGraph\", \"multi-agent systems\", \"state management\"],\n  \"suggestedTags\": [\"langgraph\", \"architecture\", \"multi-agent\", \"to-research\"],\n  \"noteType\": \"fleeting\",\n  \"paraCategory\": \"resource\",\n  \"suggestedFolder\": \"Resources/Development/Tools\",\n  \"relatedConcepts\": [\"agent orchestration\", \"persistent state\", \"automation tiers\"],\n  \"actionItems\": [\"Research LangGraph StateGraph documentation\", \"Test persistent state across sessions\"],\n  \"questions\": [\"Can LangGraph replace custom orchestration?\"],\n  \"confidence\": 0.89\n}\n```\n\n**Output Note** (in Resources/Development/Tools):\n```markdown\n---\nprocessed: 2025-01-15T15:35:00Z\ntags: [langgraph, architecture, multi-agent, to-research]\ntype: fleeting\npara: resource\nai_summary: \"Explores using LangGraph's StateGraph for multi-agent orchestration...\"\nai_confidence: 0.89\n---\n\n# LangGraph Multi-Agent Exploration\n\n## AI Summary\nExplores using LangGraph's StateGraph for multi-agent orchestration with persistent state management.\n\n## Original Content\nLangGraph seems perfect for the multi-agent tier. Need to research StateGraph...\n\n---\n\n## AI-Identified Topics\n- LangGraph\n- multi-agent systems\n- state management\n\n## Action Items\n- [ ] Research LangGraph StateGraph documentation\n- [ ] Test persistent state across sessions\n\n## Questions to Explore\n- Can LangGraph replace custom orchestration?\n\n## Related Notes\n- [[Projects/Automation-Architecture/Tier-4-Multi-Agent]] - multi-agent systems\n- [[Resources/Development/State-Management-Patterns]] - state management\n\n---\n_Processed automatically by AI on 1/15/2025_\n```\n\n**Side Effects:**\n- Note moved from Inbox to Resources/Development/Tools\n- 2 tasks created in Todoist with backlinks to note\n- Entry logged to processing spreadsheet\n- Related notes identified and linked\n\n**Tier Classification:**\n\nThis is **Tier 2** because:\n\n1. **Context-aware AI:** Uses LLM to understand note meaning semantically\n2. **Intelligent categorization:** AI determines PARA category and note type from content, not rules\n3. **Smart linking:** Finds conceptually related notes, not just keyword matches\n4. **Entity extraction:** Identifies topics, questions, and action items from unstructured text\n5. **n8n orchestration:** Workflow manages file operations and system integrations\n6. **Single AI interaction:** One Claude call per note for comprehensive analysis\n7. **Deterministic post-processing:** After AI analysis, actions follow fixed workflow\n\nThis differs from **Tier 1** (which would organize by tags/folders manually set) by understanding content semantically. It differs from **Tier 3** (agent) by not having autonomous decision-making - AI analyzes, n8n executes predetermined actions.\n\n**Cost:** ~$0.002 per note with Claude Haiku\n**Processing Speed:** ~5-10 notes per minute\n**Inbox Zero:** Achieves zero inbox 4x/day automatically"
  },
  "tags": [
    {"name": "obsidian"},
    {"name": "pkm"},
    {"name": "ai-processing"},
    {"name": "para"},
    {"name": "tier-2"}
  ]
}
