gtm/find_decision_makers/decision_maker_orchestrator.json
{
  "name": "Lead Research Coordination - Tier 1 Production Example",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule: Every Weekday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "tier1_schedule_trigger",
      "notes": "TIER 1: Scheduled automation - triggers daily lead research pipeline"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "operation": "read",
        "sheetId": "={{$env.GTM_LEADS_SHEET_ID}}",
        "range": "Targets!A2:F",
        "options": {
          "valueRenderMode": "UNFORMATTED_VALUE"
        }
      },
      "name": "Fetch Target Accounts from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      },
      "id": "tier1_fetch_targets",
      "notes": "TIER 1: Deterministic fetch - gets list of companies to research from spreadsheet"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Filter for accounts that need research today\nconst accounts = $input.all();\nconst today = new Date();\n\nconst accountsToResearch = accounts\n  .map(item => item.json)\n  .filter(account => {\n    // Skip if status is 'completed' or 'contacted'\n    if (account.status === 'completed' || account.status === 'contacted') {\n      return false;\n    }\n    \n    // Include if never researched OR last research > 30 days ago\n    if (!account.last_research_date) {\n      return true;\n    }\n    \n    const lastResearch = new Date(account.last_research_date);\n    const daysSince = (today - lastResearch) / (1000 * 60 * 60 * 24);\n    return daysSince > 30;\n  })\n  .slice(0, 10); // TIER 1: Limit to 10 per day to avoid rate limits\n\nconsole.log(`${accountsToResearch.length} accounts selected for research today`);\n\nreturn accountsToResearch.map(account => ({ json: account }));"
      },
      "name": "Filter Accounts for Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "tier1_filter_accounts",
      "notes": "TIER 1: Deterministic filtering - select accounts that need research"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Process Each Account",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300],
      "id": "tier1_split_batch",
      "notes": "TIER 1: Process one account at a time to avoid overwhelming downstream systems"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TIER3_RESEARCH_AGENT_URL}}/research",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_name\": \"{{ $json.company_name }}\",\n  \"industry\": \"{{ $json.industry }}\",\n  \"target_role\": \"{{ $json.target_role || 'VP of Sales' }}\",\n  \"research_depth\": \"standard\"\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Call Tier 3 Research Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Research Agent API Key"
        }
      },
      "id": "tier1_call_research_agent",
      "notes": "TIER 1 ORCHESTRATION: Calls Tier 3 agent to perform autonomous research"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Extract and format research results\nconst accountData = $('Process Each Account').first().json;\nconst researchResult = $input.first().json;\n\n// Check if research was successful\nif (!researchResult.success) {\n  console.error(`Research failed for ${accountData.company_name}:`, researchResult.error);\n  return [{\n    json: {\n      company_name: accountData.company_name,\n      status: 'research_failed',\n      error: researchResult.error,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Format successful research data\nreturn [{\n  json: {\n    // Original account data\n    company_id: accountData.id || accountData.company_name.toLowerCase().replace(/\\s+/g, '_'),\n    company_name: accountData.company_name,\n    industry: accountData.industry,\n    target_role: accountData.target_role,\n    \n    // Research results from Tier 3 agent\n    decision_maker_name: researchResult.decision_maker?.name || '',\n    decision_maker_title: researchResult.decision_maker?.title || '',\n    decision_maker_email: researchResult.decision_maker?.email || '',\n    decision_maker_linkedin: researchResult.decision_maker?.linkedin_url || '',\n    \n    company_size: researchResult.company_info?.size || '',\n    company_funding: researchResult.company_info?.funding || '',\n    company_tech_stack: researchResult.company_info?.tech_stack?.join(', ') || '',\n    \n    pain_points: researchResult.pain_points?.join('; ') || '',\n    buying_signals: researchResult.buying_signals?.join('; ') || '',\n    \n    // Metadata\n    research_date: new Date().toISOString(),\n    research_status: 'completed',\n    ready_for_outreach: researchResult.decision_maker?.email ? true : false\n  }\n}];"
      },
      "name": "Format Research Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "tier1_format_data",
      "notes": "TIER 1: Deterministic data transformation and validation"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "resource": "company",
        "operation": "upsert",
        "domain": "={{$json.company_name}}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "industry",
                "value": "={{$json.industry}}"
              },
              {
                "property": "decision_maker_name",
                "value": "={{$json.decision_maker_name}}"
              },
              {
                "property": "decision_maker_title",
                "value": "={{$json.decision_maker_title}}"
              },
              {
                "property": "decision_maker_email",
                "value": "={{$json.decision_maker_email}}"
              },
              {
                "property": "company_size",
                "value": "={{$json.company_size}}"
              },
              {
                "property": "tech_stack",
                "value": "={{$json.company_tech_stack}}"
              },
              {
                "property": "pain_points",
                "value": "={{$json.pain_points}}"
              },
              {
                "property": "buying_signals",
                "value": "={{$json.buying_signals}}"
              },
              {
                "property": "last_research_date",
                "value": "={{$json.research_date}}"
              },
              {
                "property": "research_status",
                "value": "={{$json.research_status}}"
              }
            ]
          }
        }
      },
      "name": "Update CRM with Research Data",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "hubspotApi": {
          "id": "3",
          "name": "HubSpot API"
        }
      },
      "id": "tier1_update_crm",
      "notes": "TIER 1: Store research data in CRM for sales team access"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ready_for_outreach}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check if Ready for Email Generation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "tier1_check_ready",
      "notes": "TIER 1: Simple conditional - only trigger email gen if we found contact info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TIER2_EMAIL_GEN_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"trigger_source\": \"tier1_lead_research\",\n  \"company_id\": \"{{ $json.company_id }}\",\n  \"company_name\": \"{{ $json.company_name }}\",\n  \"decision_maker_name\": \"{{ $json.decision_maker_name }}\",\n  \"decision_maker_email\": \"{{ $json.decision_maker_email }}\",\n  \"pain_points\": \"{{ $json.pain_points }}\",\n  \"buying_signals\": \"{{ $json.buying_signals }}\",\n  \"tech_stack\": \"{{ $json.company_tech_stack }}\"\n}",
        "options": {}
      },
      "name": "Trigger Tier 2 Email Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 200],
      "id": "tier1_trigger_email_gen",
      "notes": "TIER 1 ORCHESTRATION: Triggers Tier 2 workflow for personalized email generation"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "operation": "update",
        "sheetId": "={{$env.GTM_LEADS_SHEET_ID}}",
        "range": "Targets!A:F",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "dataMode": "autoMapInputData",
        "valueMode": "updateByKey",
        "key": "company_name",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "last_research_date",
              "fieldValue": "={{$json.research_date}}"
            },
            {
              "fieldName": "status",
              "fieldValue": "={{$json.ready_for_outreach ? 'ready_for_outreach' : 'needs_followup'}}"
            }
          ]
        }
      },
      "name": "Update Tracking Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1850, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      },
      "id": "tier1_update_sheet",
      "notes": "TIER 1: Update tracking spreadsheet with research status"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2050, 300],
      "id": "tier1_merge",
      "notes": "TIER 1: Merge both paths back together"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Back to Process Next",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2250, 300],
      "id": "tier1_loop_back",
      "notes": "TIER 1: Continue processing remaining accounts"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Generate summary report\nconst allResults = $input.all();\n\nconst summary = {\n  total_processed: allResults.length,\n  ready_for_outreach: allResults.filter(r => r.json.ready_for_outreach).length,\n  needs_followup: allResults.filter(r => !r.json.ready_for_outreach).length,\n  companies: allResults.map(r => ({\n    name: r.json.company_name,\n    status: r.json.research_status,\n    decision_maker: r.json.decision_maker_name\n  })),\n  workflow_completed_at: new Date().toISOString()\n};\n\nconsole.log('Daily lead research completed:', summary);\n\nreturn [{ json: summary }];"
      },
      "name": "Generate Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "id": "tier1_summary",
      "notes": "TIER 1: Create execution summary for logging/monitoring"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$env.SALES_TEAM_EMAIL}}",
        "subject": "Daily Lead Research Complete - {{$json.total_processed}} accounts processed",
        "emailType": "html",
        "message": "=<h2>Daily Lead Research Summary</h2>\n<p><strong>Date:</strong> {{$json.workflow_completed_at}}</p>\n<ul>\n  <li><strong>Total Processed:</strong> {{$json.total_processed}}</li>\n  <li><strong>Ready for Outreach:</strong> {{$json.ready_for_outreach}}</li>\n  <li><strong>Needs Follow-up:</strong> {{$json.needs_followup}}</li>\n</ul>\n\n<h3>Processed Companies:</h3>\n<ul>\n{{#each $json.companies}}\n  <li><strong>{{this.name}}</strong> - {{this.status}} (DM: {{this.decision_maker}})</li>\n{{/each}}\n</ul>\n\n<p>Check CRM for full details and next steps.</p>",
        "options": {}
      },
      "name": "Send Summary Email to Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2650, 300],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      },
      "id": "tier1_send_summary",
      "notes": "TIER 1: Notify sales team of completed research"
    }
  ],
  "connections": {
    "Schedule: Every Weekday 9am": {
      "main": [
        [
          {
            "node": "Fetch Target Accounts from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Target Accounts from Google Sheets": {
      "main": [
        [
          {
            "node": "Filter Accounts for Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Accounts for Research": {
      "main": [
        [
          {
            "node": "Process Each Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Account": {
      "main": [
        [
          {
            "node": "Call Tier 3 Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tier 3 Research Agent": {
      "main": [
        [
          {
            "node": "Format Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Research Data": {
      "main": [
        [
          {
            "node": "Update CRM with Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM with Research Data": {
      "main": [
        [
          {
            "node": "Check if Ready for Email Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Ready for Email Generation": {
      "main": [
        [
          {
            "node": "Trigger Tier 2 Email Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Tracking Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Tier 2 Email Generation": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking Spreadsheet": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Loop Back to Process Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back to Process Next": {
      "main": [
        [
          {
            "node": "Generate Summary Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Report": {
      "main": [
        [
          {
            "node": "Send Summary Email to Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "100",
      "name": "tier_1_production"
    },
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "101",
      "name": "gtm_lead_research"
    }
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
