gtm/tier_2/tier_2_cldchoice_gtm_intent_detection.json
{
  "name": "Intent Signal Detection - Tier 2 Production Example",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 */4 * * *"}]
        }
      },
      "name": "Schedule: Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "tier2_schedule",
      "notes": "TIER 2: Scheduled check for intent signals across data sources"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "resource": "company",
        "operation": "getAll",
        "filters": {
          "filterGroups": [{
            "filters": [{
              "propertyName": "intent_check_date",
              "operator": "LT",
              "value": "={{$now.minus({days: 7}).toISO()}}"
            }]
          }]
        },
        "limit": 20
      },
      "name": "Fetch Companies for Intent Check",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {"hubspotApi": {"id": "3", "name": "HubSpot API"}},
      "id": "tier2_fetch_companies",
      "notes": "TIER 2: Get companies that haven't been checked in 7 days"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "q", "value": "={{$json.name + ' funding OR hiring OR acquisition'}}"},
            {"name": "from", "value": "={{$now.minus({days: 30}).toISODate()}}"},
            {"name": "sortBy", "value": "publishedAt"},
            {"name": "language", "value": "en"}
          ]
        }
      },
      "name": "Search Company News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {"httpHeaderAuth": {"id": "7", "name": "News API Key"}},
      "id": "tier2_news_search",
      "notes": "TIER 2: Gather recent news about company"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.LINKEDIN_JOBS_API_URL}}/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "company", "value": "={{$('Fetch Companies for Intent Check').first().json.name}}"},
            {"name": "posted_within", "value": "30"}
          ]
        }
      },
      "name": "Check Recent Job Postings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 450],
      "id": "tier2_job_postings",
      "notes": "TIER 2: Job postings indicate growth/hiring intent"
    },
    {
      "parameters": {
        "jsCode": "const company = $('Fetch Companies for Intent Check').first().json;\nconst news = $('Search Company News').first().json.articles || [];\nconst jobs = $('Check Recent Job Postings').first().json.jobs || [];\n\nreturn [{\n  json: {\n    company_name: company.name,\n    company_id: company.id,\n    news_count: news.length,\n    job_count: jobs.length,\n    news_headlines: news.slice(0, 5).map(a => a.title).join(' | '),\n    job_titles: jobs.slice(0, 10).map(j => j.title).join(', '),\n    linkedin_activity: company.linkedin_activity || '',\n    website_changes: company.recent_website_changes || 'none'\n  }\n}];"
      },
      "name": "Aggregate Intent Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "tier2_aggregate",
      "notes": "TIER 2: Combine all signal sources"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$credentials.anthropicApi.apiKey}}"},
            {"name": "anthropic-version", "value": "2023-06-01"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 800,\n  \"temperature\": 0,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analyze these signals for {{ $json.company_name }} and determine purchase intent.\\n\\nDATA:\\n- Recent News ({{ $json.news_count }} articles): {{ $json.news_headlines }}\\n- Job Postings ({{ $json.job_count }} openings): {{ $json.job_titles }}\\n- LinkedIn Activity: {{ $json.linkedin_activity }}\\n- Website Changes: {{ $json.website_changes }}\\n\\nTASK:\\nIdentify intent signals that suggest this company might be ready to purchase workflow automation/integration software.\\n\\nReturn JSON:\\n{\\n  \\\"intent_score\\\": 0-100,\\n  \\\"intent_level\\\": \\\"low/medium/high/very_high\\\",\\n  \\\"key_signals\\\": [\\\"list of specific signals\\\"],\\n  \\\"urgency\\\": \\\"low/medium/high\\\",\\n  \\\"recommended_action\\\": \\\"wait/nurture/reach_out_now\\\",\\n  \\\"reasoning\\\": \\\"brief explanation\\\"\\n}\"\n  }]\n}",
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "name": "Claude: Analyze Intent Signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {"anthropicApi": {"id": "6", "name": "Anthropic API"}},
      "id": "tier2_claude_intent",
      "notes": "TIER 2 CHARACTERISTIC: LLM analyzes signals to determine intent - semantic understanding"
    },
    {
      "parameters": {
        "jsCode": "const claude = $input.first().json;\nconst company = $('Aggregate Intent Data').first().json;\n\nlet analysis;\ntry {\n  analysis = JSON.parse(claude.content[0].text);\n} catch (e) {\n  const match = claude.content[0].text.match(/\\{[\\s\\S]*\\}/);\n  analysis = match ? JSON.parse(match[0]) : {\n    intent_score: 0,\n    intent_level: 'low',\n    key_signals: [],\n    urgency: 'low',\n    recommended_action: 'wait',\n    reasoning: 'Parse error'\n  };\n}\n\nreturn [{\n  json: {\n    company_id: company.company_id,\n    company_name: company.company_name,\n    intent_score: analysis.intent_score,\n    intent_level: analysis.intent_level,\n    key_signals: analysis.key_signals.join('; '),\n    urgency: analysis.urgency,\n    recommended_action: analysis.recommended_action,\n    reasoning: analysis.reasoning,\n    analyzed_at: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse Intent Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "tier2_parse_intent",
      "notes": "TIER 2: Extract structured intent data"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "resource": "company",
        "operation": "update",
        "companyId": "={{$json.company_id}}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {"property": "intent_score", "value": "={{$json.intent_score}}"},
              {"property": "intent_level", "value": "={{$json.intent_level}}"},
              {"property": "intent_signals", "value": "={{$json.key_signals}}"},
              {"property": "intent_urgency", "value": "={{$json.urgency}}"},
              {"property": "intent_check_date", "value": "={{$json.analyzed_at}}"},
              {"property": "recommended_action", "value": "={{$json.recommended_action}}"}
            ]
          }
        }
      },
      "name": "Update CRM with Intent Data",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {"hubspotApi": {"id": "3", "name": "HubSpot API"}},
      "id": "tier2_update_crm",
      "notes": "TIER 2: Store intent analysis in CRM"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.recommended_action}}", "operation": "equals", "value2": "reach_out_now"}
          ]
        }
      },
      "name": "Check if Warm Outreach Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "tier2_check_outreach",
      "notes": "TIER 2 ROUTING: Context-aware decision on next action"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TIER1_WARM_OUTREACH_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $json.company_id }}\",\n  \"company_name\": \"{{ $json.company_name }}\",\n  \"intent_score\": {{ $json.intent_score }},\n  \"key_signals\": \"{{ $json.key_signals }}\",\n  \"urgency\": \"{{ $json.urgency }}\",\n  \"trigger_source\": \"intent_detection\"\n}"
      },
      "name": "Trigger Warm Outreach Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 200],
      "id": "tier2_trigger_outreach",
      "notes": "TIER 2: High-intent accounts trigger immediate outreach"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$env.SALES_TEAM_EMAIL}}",
        "subject": "High Intent Detected: {{$json.company_name}}",
        "emailType": "html",
        "message": "=<h2>🔥 High Intent Signal Detected</h2>\n<p><strong>Company:</strong> {{$json.company_name}}</p>\n<p><strong>Intent Score:</strong> {{$json.intent_score}}/100 ({{$json.intent_level}})</p>\n<p><strong>Urgency:</strong> {{$json.urgency}}</p>\n\n<h3>Key Signals:</h3>\n<p>{{$json.key_signals}}</p>\n\n<h3>AI Reasoning:</h3>\n<p>{{$json.reasoning}}</p>\n\n<p><strong>✅ Recommended Action:</strong> {{$json.recommended_action}}</p>\n<p>Warm outreach workflow has been triggered automatically.</p>"
      },
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 200],
      "credentials": {"smtp": {"id": "4", "name": "SMTP account"}},
      "id": "tier2_alert_sales"
    }
  ],
  "connections": {
    "Schedule: Every 4 Hours": {"main": [[{"node": "Fetch Companies for Intent Check", "type": "main", "index": 0}]]},
    "Fetch Companies for Intent Check": {"main": [[{"node": "Search Company News", "type": "main", "index": 0}, {"node": "Check Recent Job Postings", "type": "main", "index": 0}]]},
    "Search Company News": {"main": [[{"node": "Aggregate Intent Data", "type": "main", "index": 0}]]},
    "Check Recent Job Postings": {"main": [[{"node": "Aggregate Intent Data", "type": "main", "index": 0}]]},
    "Aggregate Intent Data": {"main": [[{"node": "Claude: Analyze Intent Signals", "type": "main", "index": 0}]]},
    "Claude: Analyze Intent Signals": {"main": [[{"node": "Parse Intent Analysis", "type": "main", "index": 0}]]},
    "Parse Intent Analysis": {"main": [[{"node": "Update CRM with Intent Data", "type": "main", "index": 0}]]},
    "Update CRM with Intent Data": {"main": [[{"node": "Check if Warm Outreach Needed", "type": "main", "index": 0}]]},
    "Check if Warm Outreach Needed": {"main": [[{"node": "Trigger Warm Outreach Workflow", "type": "main", "index": 0}, {"node": "Alert Sales Team", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "104", "name": "tier_2_production"}, {"id": "105", "name": "gtm_intent_detection"}],
  "versionId": "1.0.0"
}
