gtm/tier_2/tier_2_cldchoice_gtm_lead_research.json
{
  "name": "Personalized Email Generation - Tier 2 Production Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tier2-email-gen",
        "authentication": "headerAuth",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook: From Tier 1 Research",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "tier2-email-gen-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5",
          "name": "Webhook Auth"
        }
      },
      "id": "tier2_webhook_trigger",
      "notes": "TIER 2 CHARACTERISTIC: Event-triggered by Tier 1 when research completes"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Extract and validate webhook payload\nconst payload = $input.first().json.body;\n\n// Validate required fields\nconst required = ['company_name', 'decision_maker_name', 'decision_maker_email'];\nfor (const field of required) {\n  if (!payload[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn [{\n  json: {\n    company_id: payload.company_id || payload.company_name.toLowerCase().replace(/\\s+/g, '_'),\n    company_name: payload.company_name,\n    decision_maker_name: payload.decision_maker_name,\n    decision_maker_email: payload.decision_maker_email,\n    pain_points: payload.pain_points || '',\n    buying_signals: payload.buying_signals || '',\n    tech_stack: payload.tech_stack || '',\n    trigger_source: payload.trigger_source || 'unknown',\n    webhook_received_at: new Date().toISOString()\n  }\n}];"
      },
      "name": "Extract Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "tier2_extract_data",
      "notes": "TIER 2: Deterministic extraction before AI processing"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "requestMethod": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$credentials.anthropicApi.apiKey}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 1500,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an expert B2B sales email writer. Write a personalized cold outreach email based on the research below.\\n\\nPROSPECT INFORMATION:\\n- Name: {{ $json.decision_maker_name }}\\n- Company: {{ $json.company_name }}\\n- Email: {{ $json.decision_maker_email }}\\n\\nRESEARCH INSIGHTS:\\n- Pain Points: {{ $json.pain_points }}\\n- Buying Signals: {{ $json.buying_signals }}\\n- Current Tech Stack: {{ $json.tech_stack }}\\n\\nOUR PRODUCT:\\nWe provide an analytics and integration platform that helps companies connect their entire tool stack, automate workflows, and gain unified insights across all systems. We eliminate manual data entry, reduce tool sprawl, and provide real-time visibility into business metrics.\\n\\nEMAIL REQUIREMENTS:\\n1. Personalized opening that references their specific situation or pain point\\n2. Clear value proposition tied to their pain points\\n3. Credibility signal (customer story, metric, or social proof)\\n4. Soft call-to-action (not pushy)\\n5. Professional but conversational tone\\n6. Keep email under 150 words\\n7. Include a P.S. with additional hook or urgency\\n\\nFORMAT:\\nReturn your response as JSON with this structure:\\n{\\n  \\\"email_body\\\": \\\"[the email content]\\\",\\n  \\\"subject_line_1\\\": \\\"[first subject variant]\\\",\\n  \\\"subject_line_2\\\": \\\"[second subject variant]\\\",\\n  \\\"subject_line_3\\\": \\\"[third subject variant]\\\",\\n  \\\"personalization_notes\\\": \\\"[brief explanation of personalization approach]\\\"\\n}\\n\\nGenerate the email now:\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Claude API: Generate Personalized Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "anthropicApi": {
          "id": "6",
          "name": "Anthropic API"
        }
      },
      "id": "tier2_claude_generate",
      "notes": "TIER 2 CHARACTERISTIC: ONE LLM call adds context-aware personalization - key tier-defining element"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Parse Claude response and extract email content\nconst claudeResponse = $input.first().json;\nconst prospectData = $('Extract Webhook Data').first().json;\n\n// Extract content from Claude response\nlet emailData;\ntry {\n  const content = claudeResponse.content[0].text;\n  emailData = JSON.parse(content);\n} catch (e) {\n  // Fallback parsing if JSON is wrapped in markdown\n  const content = claudeResponse.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    emailData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Failed to parse Claude response: ' + content);\n  }\n}\n\n// Combine with prospect data\nreturn [{\n  json: {\n    // Prospect info\n    company_id: prospectData.company_id,\n    company_name: prospectData.company_name,\n    decision_maker_name: prospectData.decision_maker_name,\n    decision_maker_email: prospectData.decision_maker_email,\n    \n    // Generated email content\n    email_body: emailData.email_body,\n    subject_line_1: emailData.subject_line_1,\n    subject_line_2: emailData.subject_line_2,\n    subject_line_3: emailData.subject_line_3,\n    personalization_notes: emailData.personalization_notes,\n    \n    // Metadata\n    generated_at: new Date().toISOString(),\n    generated_by: 'tier2_claude_email_gen',\n    status: 'draft',\n    approved: false\n  }\n}];"
      },
      "name": "Parse Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "tier2_parse_email",
      "notes": "TIER 2: Extract structured data from LLM response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$credentials.anthropicApi.apiKey}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 500,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Review this sales email for quality and compliance. Provide a quality score (1-10) and flag any issues.\\n\\nEMAIL TO REVIEW:\\n---\\nSubject: {{ $json.subject_line_1 }}\\n\\n{{ $json.email_body }}\\n---\\n\\nCHECK FOR:\\n1. Tone is professional and not pushy\\n2. No spam trigger words (FREE, ACT NOW, etc.)\\n3. Value proposition is clear\\n4. Personalization is relevant (not generic)\\n5. CAN-SPAM compliance (company name, unsubscribe intent)\\n6. No typos or grammatical errors\\n7. Email length appropriate (under 150 words)\\n\\nReturn JSON:\\n{\\n  \\\"quality_score\\\": 8,\\n  \\\"issues\\\": [\\\"list of any issues\\\"],\\n  \\\"suggestions\\\": [\\\"list of improvements\\\"],\\n  \\\"spam_risk\\\": \\\"low/medium/high\\\",\\n  \\\"approved_for_send\\\": true/false\\n}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Claude API: Quality Check Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {
        "anthropicApi": {
          "id": "6",
          "name": "Anthropic API"
        }
      },
      "id": "tier2_claude_quality_check",
      "notes": "TIER 2: Second LLM call for quality assurance and compliance"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Parse quality check results\nconst qualityResponse = $input.first().json;\nconst emailData = $('Parse Email Content').first().json;\n\nlet qualityCheck;\ntry {\n  const content = qualityResponse.content[0].text;\n  qualityCheck = JSON.parse(content);\n} catch (e) {\n  const content = qualityResponse.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    qualityCheck = JSON.parse(jsonMatch[0]);\n  } else {\n    // Default to safe values if parsing fails\n    qualityCheck = {\n      quality_score: 5,\n      issues: ['Quality check parsing failed'],\n      suggestions: [],\n      spam_risk: 'medium',\n      approved_for_send: false\n    };\n  }\n}\n\nreturn [{\n  json: {\n    ...emailData,\n    quality_score: qualityCheck.quality_score,\n    quality_issues: qualityCheck.issues?.join('; ') || 'none',\n    quality_suggestions: qualityCheck.suggestions?.join('; ') || 'none',\n    spam_risk: qualityCheck.spam_risk,\n    approved_for_send: qualityCheck.approved_for_send && qualityCheck.quality_score >= 7,\n    quality_checked_at: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse Quality Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "tier2_parse_quality",
      "notes": "TIER 2: Deterministic parsing of quality results"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "resource": "contact",
        "operation": "upsert",
        "email": "={{$json.decision_maker_email}}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "firstname",
                "value": "={{$json.decision_maker_name.split(' ')[0]}}"
              },
              {
                "property": "lastname",
                "value": "={{$json.decision_maker_name.split(' ').slice(1).join(' ')}}"
              },
              {
                "property": "company",
                "value": "={{$json.company_name}}"
              },
              {
                "property": "email_draft_subject_1",
                "value": "={{$json.subject_line_1}}"
              },
              {
                "property": "email_draft_subject_2",
                "value": "={{$json.subject_line_2}}"
              },
              {
                "property": "email_draft_subject_3",
                "value": "={{$json.subject_line_3}}"
              },
              {
                "property": "email_draft_body",
                "value": "={{$json.email_body}}"
              },
              {
                "property": "email_quality_score",
                "value": "={{$json.quality_score}}"
              },
              {
                "property": "email_spam_risk",
                "value": "={{$json.spam_risk}}"
              },
              {
                "property": "email_status",
                "value": "={{$json.approved_for_send ? 'approved_draft' : 'needs_review'}}"
              },
              {
                "property": "email_generated_date",
                "value": "={{$json.generated_at}}"
              },
              {
                "property": "personalization_notes",
                "value": "={{$json.personalization_notes}}"
              }
            ]
          }
        }
      },
      "name": "Store Email Draft in CRM",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "hubspotApi": {
          "id": "3",
          "name": "HubSpot API"
        }
      },
      "id": "tier2_store_crm",
      "notes": "TIER 2: Store draft email in CRM for sales team review"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.approved_for_send}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check if Auto-Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "tier2_check_approved",
      "notes": "TIER 2 ROUTING: Branch based on quality score - context-aware decision"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "operation": "append",
        "sheetId": "={{$env.GTM_APPROVED_EMAILS_SHEET_ID}}",
        "range": "Approved!A:K",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "columns": {
          "mappings": [
            {
              "column": "company_name",
              "value": "={{$json.company_name}}"
            },
            {
              "column": "decision_maker_name",
              "value": "={{$json.decision_maker_name}}"
            },
            {
              "column": "decision_maker_email",
              "value": "={{$json.decision_maker_email}}"
            },
            {
              "column": "subject_line_1",
              "value": "={{$json.subject_line_1}}"
            },
            {
              "column": "subject_line_2",
              "value": "={{$json.subject_line_2}}"
            },
            {
              "column": "subject_line_3",
              "value": "={{$json.subject_line_3}}"
            },
            {
              "column": "email_body",
              "value": "={{$json.email_body}}"
            },
            {
              "column": "quality_score",
              "value": "={{$json.quality_score}}"
            },
            {
              "column": "approved_at",
              "value": "={{$json.generated_at}}"
            },
            {
              "column": "status",
              "value": "ready_to_send"
            },
            {
              "column": "send_scheduled",
              "value": "false"
            }
          ]
        }
      },
      "name": "Add to Approved Emails Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1850, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      },
      "id": "tier2_approved_queue",
      "notes": "TIER 2: Auto-approved emails go to send queue (Tier 1 sender will pick up)"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$env.SALES_REVIEW_EMAIL}}",
        "subject": "Email Draft Needs Review - {{$json.company_name}}",
        "emailType": "html",
        "message": "=<h2>Email Draft Requires Review</h2>\n\n<p><strong>Prospect:</strong> {{$json.decision_maker_name}} ({{$json.company_name}})</p>\n<p><strong>Quality Score:</strong> {{$json.quality_score}}/10</p>\n<p><strong>Spam Risk:</strong> {{$json.spam_risk}}</p>\n\n<h3>Issues Flagged:</h3>\n<p>{{$json.quality_issues}}</p>\n\n<h3>Suggestions:</h3>\n<p>{{$json.quality_suggestions}}</p>\n\n<h3>Subject Line Options:</h3>\n<ol>\n  <li>{{$json.subject_line_1}}</li>\n  <li>{{$json.subject_line_2}}</li>\n  <li>{{$json.subject_line_3}}</li>\n</ol>\n\n<h3>Email Body:</h3>\n<div style='background:#f5f5f5; padding:15px; border-left:4px solid #007bff;'>\n  {{$json.email_body}}\n</div>\n\n<p><strong>Action Required:</strong> Review draft in CRM and approve/edit before sending.</p>\n<p><a href='https://app.hubspot.com/contacts/{{$env.HUBSPOT_ACCOUNT_ID}}/contact/{{$json.decision_maker_email}}'>View in HubSpot</a></p>",
        "options": {}
      },
      "name": "Send Review Request to Sales",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 400],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP account"
        }
      },
      "id": "tier2_review_request",
      "notes": "TIER 2: Low-quality emails flagged for human review"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2050, 300],
      "id": "tier2_merge",
      "notes": "TIER 2: Merge both approval paths"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Generate response for webhook caller\nconst emailData = $input.first().json;\n\nconst response = {\n  success: true,\n  company_id: emailData.company_id,\n  company_name: emailData.company_name,\n  email_generated: true,\n  quality_score: emailData.quality_score,\n  approved_for_send: emailData.approved_for_send,\n  status: emailData.approved_for_send ? 'queued_for_send' : 'needs_review',\n  generated_at: emailData.generated_at,\n  subject_variants: [\n    emailData.subject_line_1,\n    emailData.subject_line_2,\n    emailData.subject_line_3\n  ]\n};\n\nreturn [{ json: response }];"
      },
      "name": "Generate Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300],
      "id": "tier2_webhook_response",
      "notes": "TIER 2: Return success response to Tier 1 caller"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Send Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300],
      "id": "tier2_respond_webhook",
      "notes": "TIER 2: Complete webhook response to Tier 1"
    }
  ],
  "connections": {
    "Webhook: From Tier 1 Research": {
      "main": [
        [
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Claude API: Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API: Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Parse Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Content": {
      "main": [
        [
          {
            "node": "Claude API: Quality Check Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API: Quality Check Email": {
      "main": [
        [
          {
            "node": "Parse Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quality Check": {
      "main": [
        [
          {
            "node": "Store Email Draft in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Email Draft in CRM": {
      "main": [
        [
          {
            "node": "Check if Auto-Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Auto-Approved": {
      "main": [
        [
          {
            "node": "Add to Approved Emails Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Review Request to Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Approved Emails Queue": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request to Sales": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Generate Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Webhook Response": {
      "main": [
        [
          {
            "node": "Send Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "102",
      "name": "tier_2_production"
    },
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "103",
      "name": "gtm_lead_research"
    }
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
