gtm/tier_2/tier_2_toy_n8n_gtm_email_classifier.json
{
  "name": "Email Intent Classifier - Tier 2 Toy Example",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "customData": [
            {
              "key": "is:unread",
              "value": "true"
            }
          ]
        }
      },
      "name": "Gmail Trigger: New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_email_trigger",
      "notes": "TIER 2 CHARACTERISTIC: Event-based trigger - responds to new emails"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Simple extraction - no AI yet\nconst email = $input.first().json;\n\nreturn [{\n  json: {\n    from: email.from || '',\n    subject: email.subject || '',\n    body: email.textPlain || email.textHtml || '',\n    messageId: email.id || '',\n    threadId: email.threadId || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "tier2_extract_data",
      "notes": "TIER 2: Deterministic extraction before AI call"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "requestMethod": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 200,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this email and classify the sender's intent. Respond with ONLY ONE of these categories: MEETING_REQUEST, QUESTION, OBJECTION, PRICING_INTEREST, GENERAL_INQUIRY, SPAM\\n\\nFrom: {{ $json.from }}\\nSubject: {{ $json.subject }}\\nBody: {{ $json.body.substring(0, 500) }}\\n\\nIntent Category:\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Call Claude API: Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "anthropicApi": {
          "id": "2",
          "name": "Anthropic API"
        }
      },
      "id": "tier2_claude_classify",
      "notes": "TIER 2 CHARACTERISTIC: ONE LLM call adds semantic understanding - this is the key tier-defining element"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Parse AI response and extract intent category\nconst claudeResponse = $input.first().json;\nconst intentText = claudeResponse.content[0].text.trim();\n\n// Validate intent is one of expected categories\nconst validIntents = ['MEETING_REQUEST', 'QUESTION', 'OBJECTION', 'PRICING_INTEREST', 'GENERAL_INQUIRY', 'SPAM'];\nconst intent = validIntents.find(i => intentText.includes(i)) || 'GENERAL_INQUIRY';\n\n// Get original email data\nconst emailData = $('Extract Email Data').first().json;\n\nreturn [{\n  json: {\n    ...emailData,\n    intent,\n    classifiedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse Intent Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "tier2_parse_intent",
      "notes": "TIER 2: Extract structured data from LLM response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "operation": "equals",
              "value2": "MEETING_REQUEST"
            }
          ]
        }
      },
      "name": "Route: Meeting Request",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "tier2_route",
      "notes": "TIER 2 CHARACTERISTIC: Routing based on AI classification - semantic routing vs rule-based"
    },
    {
      "parameters": {
        "url": "={{$env.CALENDAR_API_URL}}/check_availability",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requester_email",
              "value": "={{$json.from}}"
            },
            {
              "name": "check_next_days",
              "value": "7"
            }
          ]
        }
      },
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Calendar API"
        }
      },
      "id": "tier2_check_calendar",
      "notes": "TIER 2: Context-aware action triggered by AI classification"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$('Extract Email Data').first().json.from}}",
        "subject": "=Re: {{$('Extract Email Data').first().json.subject}}",
        "message": "=Hi,\\n\\nThank you for your meeting request! I have availability in the next week. Here are some options:\\n\\n{{ $json.availableSlots }}\\n\\nPlease let me know which time works best for you.\\n\\nBest regards",
        "options": {
          "ccList": "",
          "bccList": "",
          "replyTo": ""
        }
      },
      "name": "Reply: Meeting Times",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_reply_meeting",
      "notes": "TIER 2: Template-based response based on AI routing"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$('Extract Email Data').first().json.from}}",
        "subject": "=Re: {{$('Extract Email Data').first().json.subject}}",
        "message": "Hi,\\n\\nThank you for your email. I've received your question and will get back to you within 24 hours with a detailed response.\\n\\nBest regards",
        "options": {}
      },
      "name": "Reply: Question Acknowledgment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_reply_question",
      "notes": "TIER 2: Different template for question intent"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$('Extract Email Data').first().json.from}}",
        "subject": "=Re: {{$('Extract Email Data').first().json.subject}}",
        "message": "Hi,\\n\\nI understand your concerns. Let me address them personally - I'll follow up with a detailed response that addresses your specific situation.\\n\\nBest regards",
        "options": {}
      },
      "name": "Reply: Objection Handling",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_reply_objection",
      "notes": "TIER 2: Escalation path for objections"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Log the classification for analytics\nconst emailData = $input.first().json;\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  workflow: 'email_intent_classifier',\n  messageId: emailData.messageId,\n  from: emailData.from,\n  intent: emailData.intent,\n  responseType: 'auto_reply'\n};\n\nconsole.log('Email classified and handled:', logEntry);\n\nconst fs = require('fs');\nconst logPath = process.env.GTM_LOG_PATH || '/var/log/gtm_automation.log';\nfs.appendFileSync(logPath, JSON.stringify(logEntry) + '\\n');\n\nreturn [{ json: logEntry }];"
      },
      "name": "Log Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "id": "tier2_log",
      "notes": "TIER 2: Track AI classifications for improvement"
    }
  ],
  "connections": {
    "Gmail Trigger: New Email": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Call Claude API: Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API: Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent Category": {
      "main": [
        [
          {
            "node": "Route: Meeting Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Meeting Request": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Question Acknowledgment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Objection Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Reply: Meeting Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Meeting Times": {
      "main": [
        [
          {
            "node": "Log Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Question Acknowledgment": {
      "main": [
        [
          {
            "node": "Log Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Objection Handling": {
      "main": [
        [
          {
            "node": "Log Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "4",
      "name": "tier_2_toy_example"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
