gtm/tier_1/tier_1_toy_n8n_gtm_daily_metrics.json
{
  "name": "Daily Sales Metrics Email - Tier 1 Toy Example",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule: Every Weekday 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "tier1_schedule_trigger",
      "notes": "TIER 1 CHARACTERISTIC: Scheduled trigger - runs at predictable time, no external event required"
    },
    {
      "parameters": {
        "url": "={{$env.CALENDAR_API_URL}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "start_date",
                "value": "={{$today}}"
              },
              {
                "name": "end_date",
                "value": "={{$today}}"
              }
            ]
          }
        }
      },
      "name": "Fetch Today's Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "id": "tier1_fetch_meetings",
      "notes": "TIER 1 CHARACTERISTIC: Deterministic API call - same endpoint, same parameters every time"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Simple deterministic logic - count meetings\nconst meetings = $input.all();\nconst totalMeetings = meetings.length;\nconst clientMeetings = meetings.filter(m => m.json.type === 'client').length;\nconst internalMeetings = totalMeetings - clientMeetings;\n\nreturn [{\n  json: {\n    totalMeetings,\n    clientMeetings,\n    internalMeetings,\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "name": "Count Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "tier1_count_meetings",
      "notes": "TIER 1 CHARACTERISTIC: Deterministic calculation - no AI, just counting and filtering"
    },
    {
      "parameters": {
        "url": "={{$env.CRM_API_URL}}/pipeline/value",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Pipeline Value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 450],
      "id": "tier1_fetch_pipeline",
      "notes": "TIER 1 CHARACTERISTIC: Another deterministic API call - same query every day"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Simple data extraction - no decision making\nconst pipelineData = $input.first().json;\n\nreturn [{\n  json: {\n    totalValue: pipelineData.total_value || 0,\n    dealsInPipeline: pipelineData.deal_count || 0,\n    avgDealSize: pipelineData.average_deal_size || 0\n  }\n}];"
      },
      "name": "Extract Pipeline Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 450],
      "id": "tier1_extract_pipeline",
      "notes": "TIER 1 CHARACTERISTIC: Simple data transformation - extract and format only"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "include": "allFields",
        "options": {}
      },
      "name": "Merge Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [850, 375],
      "id": "tier1_merge_data",
      "notes": "TIER 1 CHARACTERISTIC: Deterministic merge - combine all data streams"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Template-based formatting - no AI generation\nconst meetingData = $('Count Meetings').first().json;\nconst pipelineData = $('Extract Pipeline Metrics').first().json;\n\nconst emailBody = `\nGood morning!\n\nHere are your daily sales metrics for ${meetingData.date}:\n\n📅 MEETINGS TODAY:\n- Total: ${meetingData.totalMeetings}\n- Client Meetings: ${meetingData.clientMeetings}\n- Internal: ${meetingData.internalMeetings}\n\n💰 PIPELINE STATUS:\n- Total Pipeline Value: $${pipelineData.totalValue.toLocaleString()}\n- Active Deals: ${pipelineData.dealsInPipeline}\n- Average Deal Size: $${pipelineData.avgDealSize.toLocaleString()}\n\n---\nThis is an automated report. Reply to this email if you need details.\n`;\n\nreturn [{\n  json: {\n    subject: `Daily Sales Metrics - ${meetingData.date}`,\n    body: emailBody,\n    to: process.env.RECIPIENT_EMAIL || 'sales@company.com'\n  }\n}];"
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 375],
      "id": "tier1_format_email",
      "notes": "TIER 1 CHARACTERISTIC: Template-based email - same structure every time, just different numbers"
    },
    {
      "parameters": {
        "fromEmail": "={{$env.FROM_EMAIL}}",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.body}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 375],
      "id": "tier1_send_email",
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      },
      "notes": "TIER 1 CHARACTERISTIC: Final action - send email with formatted data"
    },
    {
      "parameters": {
        "jsCode": "// TIER 1: Simple logging for observability\nconst result = {\n  timestamp: new Date().toISOString(),\n  workflow: 'daily_sales_metrics',\n  status: 'completed',\n  emailSent: true\n};\n\nconsole.log('Daily metrics workflow completed:', result);\nreturn [{ json: result }];"
      },
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 375],
      "id": "tier1_log_completion",
      "notes": "TIER 1 CHARACTERISTIC: Deterministic logging - same log structure every execution"
    }
  ],
  "connections": {
    "Schedule: Every Weekday 8am": {
      "main": [
        [
          {
            "node": "Fetch Today's Meetings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Pipeline Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Meetings": {
      "main": [
        [
          {
            "node": "Count Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Meetings": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pipeline Value": {
      "main": [
        [
          {
            "node": "Extract Pipeline Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Pipeline Metrics": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "1",
      "name": "tier_1_toy_example"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
