br2/tier_2/tier_2_cldchoice_br2_smart_categorizer.json
{
  "name": "Smart Note Categorizer - Tier 2 BR2",
  "nodes": [
    {
      "parameters": {
        "path": "br2-categorize",
        "httpMethod": "POST"
      },
      "name": "Webhook: From Tier 1 Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "tier2_webhook"
    },
    {
      "parameters": {
        "filePath": "={{$json.body.file_path}}",
        "options": {}
      },
      "name": "Read Note Content",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "tier2_read_file",
      "notes": "TIER 2: Read note from Obsidian inbox"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().binary.data.toString('utf8');\nconst frontmatter = content.match(/---([\\s\\S]*?)---/);\nconst body = content.replace(/---[\\s\\S]*?---/, '').trim();\n\nreturn [{\n  json: {\n    file_path: $('Webhook: From Tier 1 Router').first().json.body.file_path,\n    content: body,\n    existing_frontmatter: frontmatter ? frontmatter[1] : '',\n    word_count: body.split(/\\s+/).length\n  }\n}];"
      },
      "name": "Parse Note Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "tier2_parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$credentials.anthropicApi.apiKey}}"},
            {"name": "anthropic-version", "value": "2023-06-01"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 500,\n  \"temperature\": 0,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analyze this note and categorize it using the PARA method (Projects/Areas/Resources/Archive).\\n\\nNOTE CONTENT:\\n{{ $json.content }}\\n\\nRETURN JSON:\\n{\\n  \\\"para_category\\\": \\\"Projects/Areas/Resources/Archive\\\",\\n  \\\"subcategory\\\": \\\"specific folder name\\\",\\n  \\\"tags\\\": [\\\"tag1\\\", \\\"tag2\\\", \\\"tag3\\\"],\\n  \\\"key_concepts\\\": [\\\"concept1\\\", \\\"concept2\\\"],\\n  \\\"note_type\\\": \\\"fleeting/literature/permanent/reference\\\",\\n  \\\"confidence\\\": 0-100,\\n  \\\"reasoning\\\": \\\"brief explanation\\\"\\n}\"\n  }]\n}",
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "name": "Claude: Categorize Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {"anthropicApi": {"id": "6"}},
      "id": "tier2_claude_categorize",
      "notes": "TIER 2 CHARACTERISTIC: LLM provides semantic categorization"
    },
    {
      "parameters": {
        "jsCode": "const claude = $input.first().json;\nconst noteData = $('Parse Note Content').first().json;\n\nlet categorization;\ntry {\n  categorization = JSON.parse(claude.content[0].text);\n} catch (e) {\n  const match = claude.content[0].text.match(/\\{[\\s\\S]*\\}/);\n  categorization = match ? JSON.parse(match[0]) : {\n    para_category: 'Resources',\n    subcategory: 'Uncategorized',\n    tags: [],\n    key_concepts: [],\n    note_type: 'reference',\n    confidence: 0\n  };\n}\n\nconst newFrontmatter = `---\ncreated: ${new Date().toISOString()}\npara: ${categorization.para_category}\nsubcategory: ${categorization.subcategory}\ntags: [${categorization.tags.map(t => `#${t}`).join(', ')}]\nkey_concepts: [${categorization.key_concepts.join(', ')}]\nnote_type: ${categorization.note_type}\ncategorized_at: ${new Date().toISOString()}\nconfidence: ${categorization.confidence}\n---`;\n\nreturn [{\n  json: {\n    file_path: noteData.file_path,\n    para_category: categorization.para_category,\n    subcategory: categorization.subcategory,\n    new_file_path: `/vault/${categorization.para_category}/${categorization.subcategory}/`,\n    updated_content: newFrontmatter + '\\n\\n' + noteData.content,\n    tags: categorization.tags,\n    confidence: categorization.confidence,\n    reasoning: categorization.reasoning\n  }\n}];"
      },
      "name": "Format Categorized Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "tier2_format"
    },
    {
      "parameters": {
        "command": "=mv \"{{$json.file_path}}\" \"{{$json.new_file_path}}\" && echo \"{{$json.updated_content}}\" > \"{{$json.new_file_path}}\""
      },
      "name": "Move and Update Note",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "tier2_move_note",
      "notes": "TIER 2: Move from inbox to categorized folder"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {"responseCode": 200}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300],
      "id": "tier2_respond"
    }
  ],
  "connections": {
    "Webhook: From Tier 1 Router": {"main": [[{"node": "Read Note Content", "type": "main", "index": 0}]]},
    "Read Note Content": {"main": [[{"node": "Parse Note Content", "type": "main", "index": 0}]]},
    "Parse Note Content": {"main": [[{"node": "Claude: Categorize Note", "type": "main", "index": 0}]]},
    "Claude: Categorize Note": {"main": [[{"node": "Format Categorized Note", "type": "main", "index": 0}]]},
    "Format Categorized Note": {"main": [[{"node": "Move and Update Note", "type": "main", "index": 0}]]},
    "Move and Update Note": {"main": [[{"node": "Return Success", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "106", "name": "tier_2_production"}, {"id": "107", "name": "br2_categorization"}],
  "versionId": "1.0.0"
}
