br2/tier_2/tier_2_toy_n8n_br2_inbox_triage.json
{
  "name": "BR2 Inbox PARA Triage - Tier 2 Toy Example",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "customData": [
            {
              "key": "is:unread",
              "value": "true"
            },
            {
              "key": "label",
              "value": "inbox"
            }
          ]
        }
      },
      "name": "Gmail Trigger: New Inbox Item",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_br2_trigger",
      "notes": "TIER 2 CHARACTERISTIC: Event-based trigger - responds to new emails/items in inbox"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Extract inbox item data\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    from: item.from || '',\n    subject: item.subject || '',\n    body: item.textPlain || item.textHtml || '',\n    snippet: item.snippet || '',\n    labels: item.labelIds || [],\n    messageId: item.id || '',\n    threadId: item.threadId || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Extract Inbox Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "tier2_br2_extract",
      "notes": "TIER 2: Prepare data for AI analysis"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "requestMethod": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this inbox item and categorize it using the PARA method (Projects, Areas, Resources, Archives). Also determine if it's actionable. Respond with ONLY a JSON object:\\n\\n{\\\"category\\\": \\\"PROJECT|AREA|RESOURCE|ARCHIVE\\\", \\\"subcategory\\\": \\\"specific topic\\\", \\\"is_actionable\\\": true|false, \\\"priority\\\": \\\"HIGH|MEDIUM|LOW\\\", \\\"suggested_action\\\": \\\"brief action\\\" }\\n\\nFrom: {{ $json.from }}\\nSubject: {{ $json.subject }}\\nContent: {{ $json.snippet }}\\n\\nPARA Classification:\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Call Claude API: PARA Categorization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "anthropicApi": {
          "id": "2",
          "name": "Anthropic API"
        }
      },
      "id": "tier2_br2_claude",
      "notes": "TIER 2 KEY: ONE LLM call adds semantic understanding - PARA categorization based on content meaning"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Parse Claude's PARA classification\nconst claudeResponse = $input.first().json;\nconst classificationText = claudeResponse.content[0].text.trim();\n\nlet classification;\ntry {\n  // Try to parse JSON response\n  classification = JSON.parse(classificationText);\n} catch (err) {\n  // Fallback if JSON parsing fails\n  classification = {\n    category: 'RESOURCE',\n    subcategory: 'uncategorized',\n    is_actionable: false,\n    priority: 'LOW',\n    suggested_action: 'Review and categorize manually'\n  };\n}\n\n// Validate category\nconst validCategories = ['PROJECT', 'AREA', 'RESOURCE', 'ARCHIVE'];\nif (!validCategories.includes(classification.category)) {\n  classification.category = 'RESOURCE';\n}\n\n// Get original inbox data\nconst inboxData = $('Extract Inbox Data').first().json;\n\nreturn [{\n  json: {\n    ...inboxData,\n    para: {\n      category: classification.category,\n      subcategory: classification.subcategory || 'general',\n      is_actionable: classification.is_actionable || false,\n      priority: classification.priority || 'MEDIUM',\n      suggested_action: classification.suggested_action || ''\n    },\n    classifiedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse PARA Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "tier2_br2_parse",
      "notes": "TIER 2: Extract structured PARA data from AI response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.para.category}}",
              "operation": "equals",
              "value2": "PROJECT"
            }
          ]
        }
      },
      "name": "Route by PARA Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "tier2_br2_route",
      "notes": "TIER 2 CHARACTERISTIC: Semantic routing based on AI's PARA classification"
    },
    {
      "parameters": {
        "url": "={{$env.OBSIDIAN_API_URL}}/notes/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "=# {{$json.subject}}\\n\\n**From:** {{$json.from}}\\n**Date:** {{$json.timestamp}}\\n**Priority:** {{$json.para.priority}}\\n\\n## Action\\n{{$json.para.suggested_action}}\\n\\n## Original Content\\n{{$json.body}}"
            },
            {
              "name": "folder",
              "value": "=Projects/{{$json.para.subcategory}}"
            },
            {
              "name": "tags",
              "value": "=['inbox', 'project', $json.para.subcategory.toLowerCase()]"
            }
          ]
        }
      },
      "name": "Create Project Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Obsidian API"
        }
      },
      "id": "tier2_br2_project_note",
      "notes": "TIER 2: Context-aware action - create note in Projects folder with AI-suggested action"
    },
    {
      "parameters": {
        "url": "={{$env.OBSIDIAN_API_URL}}/notes/areas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "=# {{$json.subject}}\\n\\n**From:** {{$json.from}}\\n**Date:** {{$json.timestamp}}\\n\\n## Notes\\n{{$json.body}}"
            },
            {
              "name": "folder",
              "value": "=Areas/{{$json.para.subcategory}}"
            },
            {
              "name": "tags",
              "value": "=['inbox', 'area', $json.para.subcategory.toLowerCase()]"
            }
          ]
        }
      },
      "name": "Create Area Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Obsidian API"
        }
      },
      "id": "tier2_br2_area_note",
      "notes": "TIER 2: Create note in Areas folder for ongoing responsibilities"
    },
    {
      "parameters": {
        "url": "={{$env.OBSIDIAN_API_URL}}/notes/resources",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "=# {{$json.subject}}\\n\\n**From:** {{$json.from}}\\n**Date:** {{$json.timestamp}}\\n\\n## Resource\\n{{$json.body}}"
            },
            {
              "name": "folder",
              "value": "=Resources/{{$json.para.subcategory}}"
            },
            {
              "name": "tags",
              "value": "=['inbox', 'resource', $json.para.subcategory.toLowerCase()]"
            }
          ]
        }
      },
      "name": "Create Resource Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Obsidian API"
        }
      },
      "id": "tier2_br2_resource_note",
      "notes": "TIER 2: Create note in Resources for reference material"
    },
    {
      "parameters": {
        "url": "={{$env.OBSIDIAN_API_URL}}/notes/archives",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json.subject}}"
            },
            {
              "name": "content",
              "value": "=# {{$json.subject}}\\n\\n**From:** {{$json.from}}\\n**Date:** {{$json.timestamp}}\\n\\n## Archived\\n{{$json.body}}"
            },
            {
              "name": "folder",
              "value": "=Archives/{{new Date().getFullYear()}}"
            },
            {
              "name": "tags",
              "value": "=['inbox', 'archive']"
            }
          ]
        }
      },
      "name": "Create Archive Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Obsidian API"
        }
      },
      "id": "tier2_br2_archive_note",
      "notes": "TIER 2: Archive inactive/completed items"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.para.is_actionable}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check if Actionable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300],
      "id": "tier2_br2_actionable_check",
      "notes": "TIER 2: Route actionable items to task manager"
    },
    {
      "parameters": {
        "url": "={{$env.TODOIST_API_URL}}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Parse PARA Classification').first().json.para.suggested_action }}\",\n  \"description\": \"From: {{ $('Extract Inbox Data').first().json.from }}\\nSubject: {{ $('Extract Inbox Data').first().json.subject }}\",\n  \"priority\": {{ $('Parse PARA Classification').first().json.para.priority === 'HIGH' ? 4 : ($('Parse PARA Classification').first().json.para.priority === 'MEDIUM' ? 3 : 2) }},\n  \"labels\": [\"inbox-triage\", \"{{ $('Parse PARA Classification').first().json.para.category.toLowerCase() }}\"]\n}"
      },
      "name": "Create Task in Todoist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4",
          "name": "Todoist API"
        }
      },
      "id": "tier2_br2_create_task",
      "notes": "TIER 2: Create actionable task based on AI analysis"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "addLabels",
        "messageId": "={{$('Extract Inbox Data').first().json.messageId}}",
        "labelIds": "=['PROCESSED', '{{$('Parse PARA Classification').first().json.para.category}}']"
      },
      "name": "Label Email as Processed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1650, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      },
      "id": "tier2_br2_label_email",
      "notes": "TIER 2: Mark email with PARA category label"
    },
    {
      "parameters": {
        "jsCode": "// TIER 2: Log PARA categorization for analytics\nconst inboxData = $input.first().json;\nconst para = $('Parse PARA Classification').first().json.para;\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  workflow: 'br2_inbox_triage',\n  messageId: inboxData.messageId,\n  from: inboxData.from,\n  subject: inboxData.subject,\n  para_category: para.category,\n  subcategory: para.subcategory,\n  is_actionable: para.is_actionable,\n  priority: para.priority,\n  task_created: para.is_actionable\n};\n\nconsole.log('Inbox item triaged:', logEntry);\n\nconst fs = require('fs');\nconst logPath = process.env.BR2_LOG_PATH || '/tmp/br2_triage.log';\ntry {\n  fs.appendFileSync(logPath, JSON.stringify(logEntry) + '\\n');\n} catch (err) {\n  console.error('Failed to write log:', err);\n}\n\nreturn [{ json: logEntry }];"
      },
      "name": "Log PARA Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300],
      "id": "tier2_br2_log",
      "notes": "TIER 2: Track AI categorizations for PARA system analytics"
    }
  ],
  "connections": {
    "Gmail Trigger: New Inbox Item": {
      "main": [
        [
          {
            "node": "Extract Inbox Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inbox Data": {
      "main": [
        [
          {
            "node": "Call Claude API: PARA Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API: PARA Categorization": {
      "main": [
        [
          {
            "node": "Parse PARA Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PARA Classification": {
      "main": [
        [
          {
            "node": "Route by PARA Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by PARA Category": {
      "main": [
        [
          {
            "node": "Create Project Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Area Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Resource Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Archive Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project Note": {
      "main": [
        [
          {
            "node": "Check if Actionable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Area Note": {
      "main": [
        [
          {
            "node": "Check if Actionable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Resource Note": {
      "main": [
        [
          {
            "node": "Check if Actionable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Archive Note": {
      "main": [
        [
          {
            "node": "Check if Actionable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Actionable": {
      "main": [
        [
          {
            "node": "Create Task in Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Email as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Todoist": {
      "main": [
        [
          {
            "node": "Label Email as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Email as Processed": {
      "main": [
        [
          {
            "node": "Log PARA Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-17T00:00:00.000Z",
      "updatedAt": "2025-11-17T00:00:00.000Z",
      "id": "6",
      "name": "tier_2_toy_example_br2"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
