focus_future/law/tier_examples/tier_1/tier_1_n8n_law_daily_case_digest.json
{
  "name": "Law - Tier 1 - Daily Case Activity Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule - 5 PM Weekdays",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Sends daily case digest at 5 PM on weekdays only"
    },
    {
      "parameters": {
        "command": "find /home/user/LegalNotes/CaseActivity/$(date +%Y-%m-%d) -name '*.md' -type f 2>/dev/null || echo ''"
      },
      "name": "Find Today's Case Notes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Looks for case activity notes created today"
    },
    {
      "parameters": {
        "functionCode": "// Aggregate case activities from today\nconst output = $input.first().json.stdout || '';\nif (!output.trim()) {\n  return [{ json: { hasActivity: false, activities: [] } }];\n}\n\nconst files = output.split('\\n').filter(f => f);\nconst fs = require('fs');\nconst activities = [];\n\nfor (const filePath of files) {\n  const content = fs.readFileSync(filePath, 'utf8');\n  const fileName = filePath.split('/').pop();\n  \n  // Extract matter and activity type from filename\n  // Format: case_[matter]_[type]_[timestamp].md\n  const parts = fileName.replace('.md', '').split('_');\n  \n  activities.push({\n    matter: parts[1] || 'Unknown',\n    type: parts[2] || 'note',\n    fileName: fileName,\n    content: content.substring(0, 500) // First 500 chars\n  });\n}\n\nreturn [{ json: { hasActivity: true, activities: activities } }];"
      },
      "name": "Aggregate Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Generate end-of-day digest email\nconst data = $input.first().json;\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nif (!data.hasActivity) {\n  return [{\n    json: {\n      subject: `📋 Daily Case Digest - No activity`,\n      body: `📋 CASE ACTIVITY DIGEST - ${today}\\n\\n✅ No case activity recorded today. Have a great evening!\\n\\n---\\nGenerated by n8n Legal Automation`,\n      to: process.env.ATTORNEY_EMAIL || 'attorney@lawfirm.com'\n    }\n  }];\n}\n\n// Group by matter\nconst byMatter = {};\ndata.activities.forEach(act => {\n  if (!byMatter[act.matter]) {\n    byMatter[act.matter] = [];\n  }\n  byMatter[act.matter].push(act);\n});\n\nlet emailBody = `📋 CASE ACTIVITY DIGEST - ${today}\\n\\n`;\nemailBody += `Total activities: ${data.activities.length}\\n\\n`;\n\nfor (const matter in byMatter) {\n  const acts = byMatter[matter];\n  emailBody += `📁 ${matter.toUpperCase()} (${acts.length} activities)\\n`;\n  acts.forEach(act => {\n    emailBody += `  • ${act.type}: ${act.fileName}\\n`;\n  });\n  emailBody += `\\n`;\n}\n\nemailBody += `---\\nGenerated by n8n Legal Automation`;\n\nreturn [{\n  json: {\n    subject: `📋 Daily Case Digest - ${data.activities.length} activities`,\n    body: emailBody,\n    to: process.env.ATTORNEY_EMAIL || 'attorney@lawfirm.com'\n  }\n}];"
      },
      "name": "Generate Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@lawfirm.com",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}"
      },
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule - 5 PM Weekdays": {
      "main": [[{ "node": "Find Today's Case Notes", "type": "main", "index": 0 }]]
    },
    "Find Today's Case Notes": {
      "main": [[{ "node": "Aggregate Activities", "type": "main", "index": 0 }]]
    },
    "Aggregate Activities": {
      "main": [[{ "node": "Generate Digest", "type": "main", "index": 0 }]]
    },
    "Generate Digest": {
      "main": [[{ "node": "Send Email Digest", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null
}
